In [3]:
import numpy as np
import pandas as pd

data = pd.read_csv(r"C:\Users\clare\Documents\SHO-simulation\SimulationResult\simulation_data.csv", nrows=1000)

data

             TIME  POSITION X  POSITION Y    VELOCITY  ACCELERATION
0           0.001       0.000     -10.010       0.000       999.990
1           0.002       0.000     -10.020       2.001      1000.991
2           0.003       0.000     -10.030       6.007      1001.992
3           0.004       0.000     -10.040      12.022      1002.993
4           0.005       0.000     -10.050      20.050      1003.993
...           ...         ...         ...         ...           ...
999996    999.997         nan   -nan(ind)         nan           nan
999997    999.998   -nan(ind)         nan   -nan(ind)     -nan(ind)
999998    999.999         nan   -nan(ind)         nan           nan
999999   1000.000   -nan(ind)         nan   -nan(ind)     -nan(ind)
1000000  1000.001         nan   -nan(ind)         nan           nan

[1000001 rows x 5 columns]