In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv(r"C:\Users\clare\Documents\SHO-simulation\SimulationResult\simulation_data.csv", nrows=1000)

data

      TIME  POSITION_X  POSITION_Y  VELOCITY  ACCELERATION
0    0.001         0.0       -10.0       0.0           0.0
1    0.002         0.0       -10.0       0.0           0.0
2    0.003         0.0       -10.0       0.0           0.0
3    0.004         0.0       -10.0       0.0           0.0
4    0.005         0.0       -10.0       0.0           0.0
..     ...         ...         ...       ...           ...
995  0.996         0.0       -10.0       0.0           0.0
996  0.997         0.0       -10.0       0.0           0.0
997  0.998         0.0       -10.0       0.0           0.0
998  0.999         0.0       -10.0       0.0           0.0
999  1.000         0.0       -10.0       0.0           0.0

[1000 rows x 5 columns]